@{
    ViewBag.Title = "Rock/Paper/Scissors";
}
<div class="text-center">
    <div class="jumbotron">
        <h2>Let's play Rock Paper Scissors with strangers!</h2>
        @if (User.Identity.IsAuthenticated)
        {
            <h2>[Your Record] Wins: @ViewBag.PlayerWins Draws: @ViewBag.PlayerDraws Losses: @ViewBag.PlayerLosses</h2>
        }
    </div>

    @if (User.Identity.IsAuthenticated)
    {
        <div class="btn-group-vertical">
            <a class="btn btn-default btn-lg" asp-controller="Play" asp-action="Index">Play!</a>
        </div>
    }
    else
    {
        <div class="btn-group-vertical">
            <a class="btn btn-default btn-lg" asp-controller="Account" asp-action="Login">Log In</a>
            <a class="btn btn-default btn-lg" asp-controller="Account" asp-action="Register">Register</a>
        </div>
    }
</div>