@{
    ViewBag.Title = "Rock/Paper/Scissors";
}
<div class="text-center">
    <div>
        <p>This is Rock/Paper/Scissors, a SkyBrand production. We are the most awesome and so are you. Welcome!</p>
    </div>

    @if (User.Identity.IsAuthenticated)
    {

    }
    else
    {

        <div class="btn-group-vertical">
            <a class="btn btn-default" asp-controller="Account" asp-action="Login">Log In</a>
            <a class="btn btn-default" asp-controller="Account" asp-action="Register">Register</a>
        </div>
    }
</div>