@{ 
    ViewBag.Title = "Playing Rock Paper Scissors";
}

<h1>Finding a game at @ViewBag.Endpoint</h1>

<div class="jumbotron" id="response">
</div>

<script type="text/javascript" src="~/lib/scripts/JoinGame.js"></script>
<script>
    $(document).ready(function () {
        joinGame("@ViewBag.Endpoint");
    });
</script>